@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/**************************/

body {
  margin: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  max-width: 100%;
  
  min-height: 100vh;
}

body > div {
  width: 100%;
}

body > div > * {
  margin: 1rem;
}

h1 {
  font-size: 2rem;
  line-height: 1.1;
}

.card {
  border: 3px solid white;
  border-radius: 1rem;
  padding: 0.6rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
}